
  
  
  /* ---- stats.js ---- */
  
/*.count-particles{
    background:black;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    width: 100vw;
    height: 100vh;
}
  
.js-count-particles{
    font-size: 1.1em;
}  
#stats,
.count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}
#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
.count-particles{
    border-radius: 0 0 3px 3px;
}
#particles-js{
    width: 100%;
    height: 100%;
    background-color:black;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position:fixed;
    overflow: scroll;
}
#particles-js {
    width: 100%;
    height: 100%;
    position:fixed;
    overflow: scroll;
}*/
footer{
    background-color: black;
    position:fixed;
    left: 0;
    width:100vw;
    bottom: 0;
}
body{
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-style: normal; 
}
body{
    background-image:url(https://wallpapers.com/images/hd/4k-ultra-hd-dark-purple-lines-l6oxaq88otytm7bl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    background-position: 0 0;
    width: auto;
    height: 100vh;
    animation: rotate360 10s linear infinite alternate-reverse;
}

@keyframes rotate360{
    0%{
        background-position:0 0;
    }
    100%{
        background-position: 100% 100%;
    }
}
.containerr{
    border-radius: 5px;
    max-width:90vw;
    padding: 15px;
    margin-left: 2%;
    align-items:center;
    display: flex;
    flex-direction:auto;
    justify-content: space-between;
    background-color:transparent;
    margin-bottom: 20px;
    color:black;
    position: relative;
    overflow:scroll;
    scrollbar-width: none;
}
@media (max-width:600px){
    .containerr{
        flex-direction:column;
    }
}
.containerr::-webkit-scrollbar{
    display: none;
}
.container {
    background-color: #ddd;
    padding: 2px;
    border-radius: 7px;
    border: #808080;
}
.content{
    display:flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
}
.content1{
    background-color: rgba(240, 248, 255, 0.404);
    border-radius: 5px;
    padding: 15px;
    max-height: 40vh;
    transition: 6s;
    overflow: scroll;
}
.content1::-webkit-scrollbar{
    display: none;
}
.content1:hover{
    background-color:rgba(248, 248, 255, 0.515);
    scale: 99%;
    margin-bottom: 10%;
}
.content2{
    height: 40vh;
    border-radius: 5px;
    padding: 15px;
    background-color: rgba(240, 248, 255, 0.372);
    overflow:scroll;
    transition:2s;
}
.content2::-webkit-scrollbar{
    display: none;
}
.content2:hover{
    background-color:rgba(248, 248, 255, 0.515);
}
.content2:active{
    height: 70vh;
    background-color:rgba(248, 248, 255, 0.515);
    transition: 2s;
    cursor:crosshair;
}
.content3{
    height: 40vh;
    border-radius: 5px;
    padding: 15px;
    background-color: rgba(240, 248, 255, 0.349);
    overflow: scroll;
}
.content3::-webkit-scrollbar{
    display: none;
}
.logo{
    margin-top: 60px;
    width: 100%;
    background-color: #dddddd44;
    padding: 2px;
    border-radius: 7px;
    border: #808080;
  }
  
  .html {width: 0%; background-color: #2d9abb;
    transition: 2s;
    }
  .css {width: 0%; background-color: #2196F3;
    transition: 2s;
    }
  .js {width: 0%; background-color: #6536f4;
    transition: 2s;
    }
  .python {width: 0%; background-color: #380f33;
    transition: 2s;
    }
ul{
    display: flex;
    list-style: none;
    font: 1em sans-serif;
    color:azure;
    gap: 30px;
    cursor: pointer;
}
  .html:hover {width: 40%; background-color: #2d9abb;
    text-align: center;
    transition: 2s;
    background-color:blue;
    border-color: #808080;
    border-radius: 9.5%;
    padding: 2%;
    }
  .css:hover {width: 30%; background-color: #2196F3;
    text-align: center;
    transition: 2s;
    background-color: #2d9abb;
    border-radius: 9.5%;
    padding: 2%;
    }
  .js:hover {width: 10%; background-color: #6536f4;
    text-align: center;
    transition: 2s;
    background-color: purple;
    border-radius: 9.5%;
    padding: 2%;
    }
  .python:hover {width: 50%; background-color: #380f33;
    text-align: center;
    transition: 2s;
    background-color:dimgrey;
    border-radius: 9.5%;
    padding: 2%;
    }
nav{
    font: 1.2em sans-serif;
    a{
        color: #ddd;
        text-decoration: none;
    }
}
#project:hover{
    background-color: rgba(240, 248, 255, 0.64);
}